<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://expensetracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>expensetracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>expensetracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>ExpenseTracker.API</AppServiceName>
    <ResourceGroupName>Admin</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>baoh</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ExpenseTrackerDb" Order="1" Enabled="False">
          <Destination Path="Data Source=yodev.database.windows.net;Initial Catalog=ExpenseTrackerDb;Persist Security Info=False;User ID=baoh;Password=Dzacu1a_010388;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" Name="Data Source=yodev.database.windows.net;Initial Catalog=ExpenseTrackerDb;Persist Security Info=False;User ID=baoh;Password=Dzacu1a_010388;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExpenseTracker.Repository.Entities.ExpenseTrackerContext, ExpenseTracker.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExpenseTrackerDb-Web.config Connection String">
      <ParameterValue>Data Source=yodev.database.windows.net;Initial Catalog=ExpenseTrackerDb;Persist Security Info=False;User ID=baoh;Password=Dzacu1a_010388;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>